<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Wheel of Fortune</title>
</head>

<body th:total-spent="${totalSpent}">
    <div class="header">
        <h2>Welcome, <span> <a th:href="@{/profile}" th:text="${fullName}"></a></span></h2>
        <div class="spin-container">
            <span class="spin-number" th:text="${spin}"></span>
            <img src="/img/ticket.png" alt="Spin" class="spin-img">
        </div>
    </div>

    <div class="container">
        <div class="milestone-container">
            <div class="milestones">
                <div class="chart-container">

                    <div class="line-container">
                        <div class="line"></div>
                        <div class="line left"></div>
                    </div>

                    <div th:each="reward, stat : ${purchaseRewards}"
                        th:class="${'milestone milestone__' + reward.threshold/30000}"
                        th:data-value="${reward.threshold/30000}" th:data-reward-id="${reward.rewardId}">
                        <div class="dot" th:text="${reward.threshold + 'k'}">250k</div>
                        <div class="ticket-box"
                            th:classappend="${claimedRewards != null and claimedRewards.?[rewardId == __${reward.rewardId}__].size() > 0} ? 'claimed' : ''">
                            <img src="/img/ticket.png" alt="Ticket" class="ticket-img">
                            <span class="ticket-count" th:text="${reward.spin}">1</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wheel-section">
            <h2>🎉 Lucky Spin 🎉</h2>
            <div class="wheel-container">
                <svg id="wheel" width="400" height="400" viewBox="0 0 400 400"></svg>
                <div class="pointer"></div>
            </div>
            <button id="spinButton" class="spin-btn">Spin</button>
        </div>

        <div class="mission-container">
            <div class="btn-container">
                <img id="show-mission-btn" src="/img/paper.png" alt="Daily Missions" class="icon-btn">
                <img id="show-history-btn" src="/img/file.png" alt="Prize History" class="icon-btn">
            </div>

            <div id="mission-panel" class="hidden">
                <div class="mission-header">
                    <h3 class="daily-mission-title">Missions</h3>
                    <button id="close-mission-btn" class="close-btn">✕</button>
                </div>
                <div class="mission-section">
                    <h4 class="mission-section-title">Daily Missions</h4>
                    <div class="mission-list" id="daily-missions">
                        <div th:each="mission : ${dailyMissions}" class="mission-item">
                            <div class="mission-progress">
                                <span
                                    th:text="${userMissions != null and userMissions.?[missionId == __${mission.missionId}__ and isCompleted].size() > 0 ? '1/1' : '0/1'}">0/1</span>
                                <img src="/img/ticket.png" alt="Ticket" class="mission-icon">
                            </div>
                            <div class="mission-description" th:text="${mission.missionDescription}"></div>
                            <button class="claim-btn"
                                th:classappend="${userMissions != null and userMissions.?[missionId == __${mission.missionId}__ and isCompleted].size() > 0 ? '' : 'disabled'}"
                                th:data-mission-id="${mission.missionId}" th:data-mission-type="DAILY">
                                Claim
                            </button>
                        </div>
                    </div>
                </div>

                <!-- One-time Missions -->
                <div class="mission-section">
                    <h4 class="mission-section-title">Achievement Missions</h4>
                    <div class="mission-list" id="one-time-missions">
                        <div th:each="mission : ${oneTimeMissions}" class="mission-item">
                            <div class="mission-progress">
                                <span
                                    th:text="${userMissions != null and userMissions.?[missionId == __${mission.missionId}__ and isCompleted].size() > 0 ? '1/1' : '0/1'}">0/1</span>
                                <img src="/img/ticket.png" alt="Ticket" class="mission-icon">
                            </div>
                            <div class="mission-description" th:text="${mission.missionDescription}"></div>
                            <button class="claim-btn"
                                th:classappend="${userMissions != null and userMissions.?[missionId == __${mission.missionId}__ and isCompleted].size() > 0 ? '' : 'disabled'}"
                                th:data-mission-id="${mission.missionId}" th:data-mission-type="ONE_TIME">
                                Claim
                            </button>
                        </div>
                    </div>
                </div>
                <button class="claim-all-btn">Claim all</button>
            </div>

            <div id="history-panel" class="hidden">
                <div class="history-header">
                    <h3>Prize History</h3>
                    <button id="close-history-btn" class="close-btn">✕</button>
                </div>
                <div class="history-body" id="history-body">
                    <div class="history-scroll-wrapper">
                        <table class="history-table">
                            <thead>
                                <tr>
                                    <th>Prize</th>
                                    <th>Time</th>
                                </tr>
                            </thead>
                            <tbody id="history-table-body">
                            </tbody>
                        </table>
                    </div>
                    <p id="no-history-text" style="text-align: center; margin-top: 10px;">
                        You haven't received any prize yet. Spin now and claim your prize
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="overlay"></div>

    <div id="resultPopup" class="popup">
        <p>You won: <strong id="resultText"></strong></p>
        <button id="closePopupBtn">Claim</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
    <script th:src="@{/js/script.js}"></script>
    <script th:src="@{/js/wheel.js}"></script>

</body>

</html>