<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div class="container">
    <div class="login-container">
        <div class="login-box">
            <h2>User Profile</h2>

            <div class="form-group">
                <label>Email:</label>
                <p th:text="${user.email}">emailr</p>
            </div>

            <form th:action="@{/profile/update}" method="post">
                <div class="form-group">
                    <label for="full_name">Full Name:</label>
                    <input type="text" id="full_name" name="full_name"
                           th:value="${user.full_name}" placeholder="Full Name" required>
                </div>

                <div class="form-group">
                    <label for="gender">Gender:</label>
                    <input type="text" id="gender" name="gender"
                           th:value="${user.gender}" placeholder="Gender" required>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn">Update Info</button>
                </div>
            </form>

            <div class="form-group">
                <a th:href="@{/}" class="btn">Back to Home</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
